<div class="thumbnail">
	<a id="<%= img.id.to_s %>" class="fancybox" rel="popover" href="<%= img.image.url %>" class="thumbnail" data-placement="bottom" data-trigger="hover" data-content="<%= img.description %>">
			<img  src="<%= img.image.url(:thumb) %>" data-src="<%= img.image.url(:thumb) %>" alt="" style="width: 244px; height: 200px;">
	</a>
	<div class="caption">
		<h4><%= img.adit.name %></h4><h6><small>(<%= img.latitude.to_s + " / " + img.longitude.to_s %>)</small></h6>
		<p>
		<%= link_to('<i class="btn btn-primary btn-sm glyphicon glyphicon-edit"></i>'.html_safe, edit_image_artifact_path(img)) %>
		<%= link_to('<i class="btn btn-primary btn-sm glyphicon glyphicon-globe"></i>'.html_safe, image_artifact_map_path(img))%>
		<%= link_to('<i class="btn btn-primary btn-sm glyphicon glyphicon-picture"></i>'.html_safe, image_artifact_path(img)) %>
		<%= link_to('<i class="btn btn-danger btn-sm glyphicon glyphicon-remove"></i>'.html_safe, image_artifact_path(img), method: :delete, remote: :true, data: { confirm: 'Hiermit werden die Daten als auch die Bild-Dateien gelöscht. Wirklich wirklich sicher löschen? '}) %>
		</p>
		<%= check_box_tag( 'ck_main_'+img.id.to_s, img.id, img.main,					  
		  :data => {
		    :remote=> true, :url => url_for(controller: 'image_artifacts', action: :main, id: img.id), id: img.id
		  }
		)-%> Grube
		<%= check_box_tag( 'ck'+img.id.to_s, img.id, img.primary,					  
		  :data => {
		    :remote=> true, :url => url_for(controller: 'image_artifacts', action: :primary, id: img.id), id: img.id
		  }
		)-%> Primär
		<%= check_box_tag( 'ck'+img.id.to_s, img.id, img.flag,					  
		  :data => {
		    :remote=> true, :url => url_for(controller: 'image_artifacts', action: :flag, id: img.id), id: img.id
		  }
		)-%> Mundloch
	</div>	
</div>
