<%= tinymce_assets %>
<div class="well">
	<% if flash[:notice] %>
		<div class="alert alert-success">
  			<button type="button" class="close" data-dismiss="alert">&times;</button>
  			<strong>Info</strong> <%= flash[:notice] %>
		</div>
    <% end %>
    <% if flash[:error] %>
    		<div class="alert">
  			<button type="button" class="close" data-dismiss="alert">&times;</button>
  			<strong>Info</strong> <%= flash[:notice] %>
		</div>
    <% end %>
    
	<%= form_for(@image) do |f| %>

	  	<div class="control-group">
	    	<%= f.label "Grube:", :class => "control-label" %>
	    	<div class="controls">
	      		<%= f.select :adit_id, options_from_collection_for_select(@adits, "id", "name",6), :class => "input-xlarge" %>
	    	</div>
	  	</div>
	  	
	  	<div class="control-group">
	    	<%= f.label "Beschreibung:", :class => "control-label" %>
	    	<div class="controls">
	      		<%= text_area_tag :description, "", :class => "tinymce", :rows => 40, :cols => 120 %>
	    	</div>
	  	</div>

		<div class="actions">
	    	<%= f.submit "Speichern", :class=>"btn btn-primary" %>
	  	</div>
	  	
	<% end %>
</div>
<%= tinymce %>