<div class="well well-small">
	<%= form_tag(adit_image_artifacts_path, :class => 'form-search') do |f| %>
		<%= label_tag "Grube:", nil, {:class => "control-label"} %>
	  <%= select_tag :adit_id, options_from_collection_for_select(@adits, "id", "name"), :class => "input-xlarge" %>
	  <%= submit_tag "Zeige"%>
	<%end%>
	<%= link_to "WP-Download für Orux", download_image_artifacts_path %>
</div>

<ul class="thumbnails">	
	<% @images.each do |img| %>
		<li class="span3">
			<div class="thumbnail">

				<a id="<%= img.id.to_s %>" class="fancybox" rel="popover" href="<%= img.image.url %>" class="thumbnail" data-placement="bottom" data-trigger="hover" data-content="<%= img.description %>">
	      			<img  src="<%= img.image.url(:thumb) %>" data-src="<%= img.image.url(:thumb) %>" alt="" style="width: 260; height: 180px;">
	    		</a>
	    		<div class="caption">
	    			<h4><%= img.adit.name %></h4>
	    			<p><%= link_to "Bearbeiten", edit_image_artifact_path(img), :class=>"btn btn-primary btn-small"%>
	    			<%= link_to "Karte", image_artifact_map_path(img), :class=>"btn btn-primary btn-small"%>
	    			<%= link_to "Original", image_artifact_path(img), :class=>"btn btn-primary btn-small"%></p>
	    			
	    			<%= check_box_tag( 'ck_main_'+img.id.to_s, img.id, img.main,					  
					  :data => {
					    :remote=> true, :url => url_for(action: :main, id: img.id), id: img.id
					  }
					)-%> Grube/Stollen
					<%= check_box_tag( 'ck'+img.id.to_s, img.id, img.flag,					  
					  :data => {
					    :remote=> true, :url => url_for(action: :flag, id: img.id), id: img.id
					  }
					)-%> Kein Mundloch
	    		</div>	
	    	</div>
    	</li>
	<% end %>
</ul>
<script type="text/javascript">
	$(document).ready(function () {
  		$(function () {
    		$("a[rel=popover]").popover({live: true });
    		$("a[rel=popover]").fancybox();
  		});
	});
</script>