<div class="row">
	<%= form_tag(adit_image_artifacts_path, :class => 'form-horizontal') do |f| %>
		<div class="form-group">
			<%= label_tag "Grube:", nil, {:class => "control-label col-sm-1"} %>
			<div class="col-sm-4">
	  			<%= select_tag :adit_id, options_from_collection_for_select(@adits, "id", "name"), :class => "col-sm-4 form-control input-xlarge" %>
	  		</div>  		
	  		<%= submit_tag "Zeige", :class=>"btn btn-primary col-sm-1"%>
	  		<div class="pull-right"><%= link_to "WP-Download für Orux", download_image_artifacts_path, class: "btn btn-primary" %></div>
	  	</div>
	<%end%>

	<div class="col-md-12">
		<% @images.each do |img| %>
			<div class="col-xs-6 col-md-3" id="gallery-pic-<%= img.id.to_s %>">
				<%= render partial: "thumb", :locals => {:img => img} %>
	    	</div>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
  		$(function () {
    		$("a[rel=popover]").popover({live: true });
    		$("a[rel=popover]").fancybox();
  		});
	});
</script>