<div class="well well-small">
	<%= form_tag(adit_image_artifacts_path, :class => 'form-search') do |f| %>
		<div class="form-group">
			<%= label_tag "Grube:", nil, {:class => "form-label"} %>
	  		<%= select_tag :adit_id, options_from_collection_for_select(@adits, "id", "name"), :class => "input-xlarge form-control" %>
	  	</div>
	  	<div class="form-group">
	  		<%= submit_tag "Zeige", :class=>"btn btn-primary"%>
	  	</div>
	<%end%>
	<%= link_to "WP-Download für Orux", download_image_artifacts_path %>
</div>
<div class="col-md-12">
	<% @images.each do |img| %>
		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a id="<%= img.id.to_s %>" class="fancybox" rel="popover" href="<%= img.image.url %>" class="thumbnail" data-placement="bottom" data-trigger="hover" data-content="<%= img.description %>">
	      			<img  src="<%= img.image.url(:thumb) %>" data-src="<%= img.image.url(:thumb) %>" alt="" style="width: 244px; height: 200px;">
	    		</a>
	    		<div class="caption">
	    			<h4><%= img.adit.name %></h4>
	    			<p><%= link_to "Bearbeiten", edit_image_artifact_path(img), :class=>"btn btn-primary btn-sm"%>
	    			<%= link_to "Karte", image_artifact_map_path(img), :class=>"btn btn-primary btn-sm"%>
	    			<%= link_to "Original", image_artifact_path(img), :class=>"btn btn-primary btn-sm"%></p>
	    			
	    			<%= check_box_tag( 'ck_main_'+img.id.to_s, img.id, img.main,					  
					  :data => {
					    :remote=> true, :url => url_for(action: :main, id: img.id), id: img.id
					  }
					)-%> Grube/Stollen
					<%= check_box_tag( 'ck'+img.id.to_s, img.id, img.primary,					  
					  :data => {
					    :remote=> true, :url => url_for(action: :primary, id: img.id), id: img.id
					  }
					)-%> Primär
					<%= check_box_tag( 'ck'+img.id.to_s, img.id, img.flag,					  
					  :data => {
					    :remote=> true, :url => url_for(action: :flag, id: img.id), id: img.id
					  }
					)-%> Mundloch
	    		</div>	
	    	</div>
    	</div>
	<% end %>
</div>
<script type="text/javascript">
	$(document).ready(function () {
  		$(function () {
    		$("a[rel=popover]").popover({live: true });
    		$("a[rel=popover]").fancybox();
  		});
	});
</script>