<%= tinymce_assets %>
<div class="well">
	<% if flash[:notice] %>
		<div class="alert alert-success">
  			<button type="button" class="close" data-dismiss="alert">&times;</button>
  			<strong>Info</strong> <%= flash[:notice] %>
		</div>
    <% end %>
    <% if flash[:error] %>
    		<div class="alert">
  			<button type="button" class="close" data-dismiss="alert">&times;</button>
  			<strong>Info</strong> <%= flash[:notice] %>
		</div>
    <% end %>
    <h4>Neue Grube / neuer Stollen:</h4>
	<%= form_for(@image_artifact) do |f| %>
	  	<div class="form-group">
	    	<%= f.label "Grube:", :class => "form-label" %>
	    	<div class="controls">
	      		<%= f.select :adit_id, options_from_collection_for_select(@adits, "id", "name"), :class => "form-control col-lg-2 " %>
	    	</div>
	  	</div>
	  	<div class="form-group">
	    	<%= f.label "Beschreibung:", :class => "form-label" %>
	    	<div class="controls">
	      		<%= f.text_area :description, :class => "tinymce form-control", :rows => 10, :cols => 20 %>
	    	</div>
	  	</div>
	  	<div class="form-group">
	    	<%= f.label "Bilddatei:", :class => "form-label" %>
	    	<div class="controls">
	      		<%= f.file_field :image, :class => "col-lg-2 form-control" %>
	    	</div>
	  	</div>
		<%= f.hidden_field :imgtype, { :value => 0 } %>

		<div class="form-group">
	    	<%= f.submit "Speichern", :class=>"btn btn-primary" %>
	  	</div>					  	
	<% end %>
</div><%= tinymce %>